<body>

<center><b>
Welcome to the Dog App!
</b>
<p><div style="border: 10px inset grey; width: 20rem; margin: 10px; padding: 2px; background-color: white">
This application was designed with dog shelters, ASPCA centers, and other various locations where volunteers are needed to walk dogs. This lets a user log in, create volunteers, and add walks with dogs for each volunteer. The duration of each walk is monitored and each volunteer has their total duration of walks present on the volunteer page.
</div></p></center>

<center><p></p><a href="/signup">Sign Up</a>
<p><a href="/login">Log In</a></p></center>
</body>