<!DOCTYPE html>
<html>
<font face="verdana">
<title>Dog App</title>
<head><strong><center>Dog App</center></strong></head>
<p></p>
<div><center>
  <a href="/">Home</a>|
  <a href="/volunteers">View Volunteers</a>|
  <a href="/dogs">View Dogs</a>|
  <a href="/login">Log In</a>|
  <a href="/logout">Log Out</a></center>
</div>
<p></p>
<style>
body {
	background-image: url("https://i.stack.imgur.com/jGlzr.png");
      background-repeat:no-repeat;
      background-size:cover;
} 
</style>

<body>
 
<center><%= yield %></center>
 
</body>
</font>
</html>