<!DOCTYPE html>
<html>
<font face="verdana">
<title>Dog App</title>
<head><strong><center>Dog App</center></strong></head>
<p></p>
<div><center>
  <a href="/home">Home</a>|
  <a href="/volunteers">View Volunteers</a>|
  <a href="/dogs">View Dogs</a>|
  <a href="/signup">Sign Up</a>|
  <a href="/login">Log In</a>|
  <a href="/logout">Log Out</a></center>
</div>
<p></p>
<style>
body {
	background-image: url("https://cdn1.vectorstock.com/i/1000x1000/91/00/background-with-dog-paw-print-and-bone-vector-2669100.jpg");
      background-repeat:no-repeat;
      background-size:cover;
} 
</style>

<body>
 
<center><%= yield %></center>
 
</body>
</font>
</html>